*{
  margin: 0;
  padding: 0;
}

.user-form-container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #3F51B5; */
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
  padding: 5em;
  background: white;
  /* border: 1px solid black; */
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-area {
  resize: none;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.hobbies{
  margin-top: -2.5em;
}

.gender{
  margin-bottom: .5em;
}
